@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gold: #a98350;
    --color-white: #ffffff;
  }
  body{
    --multistep-color-success: var(--color-gold);
    --fk-font-family: 'Century Gothic', sans-serif;
    --fk-font-family-input: var(--fk-font-family);
    --fk-font-family-label: var(--fk-font-family);
    --fk-font-family-legend: var(--fk-font-family);
    --fk-font-family-option: var(--fk-font-family);
    --fk-font-family-help: var(--fk-font-family);
    --fk-font-family-message: var(--fk-font-family);
  }
}

body::before{
  display: none !important;
}

.form-step .ant-form-item{
  display: flex;
  flex-flow: column wrap;
}

.form-step .ant-form-item-label{
  text-align: left;
}

.hide-step-badge .formkit-badge,
.hide-step-actions .formkit-step-actions{
  display: none !important;
}

.reliquaire .formkit-outer{
  --fk-margin-outer: 0;
}

.formkit-tabs{
  flex-wrap: wrap;
}

[data-tab-style="progress"] > .formkit-tabs{
  row-gap: 1.5rem;
}

.formkit-tabs .formkit-tab{
  min-width:95px;
}

.formkit-tabs .formkit-tab::after{
  transform: translateY(-100%);
}

.qty .formkit-outer{
  --fk-margin-outer: 0;
}

.qty .formkit-wrapper{
  --fk-padding-label: 0px;
}

.qty .formkit-wrapper .formkit-inner{
  background-color: var(--color-white);
  max-width: 50px;
}

.piece-preview{
  display: flex;
  justify-content: flex-end;
  font-size: var(--fk-font-size-help);
  position: relative;
  top: calc(-1 * var(--fk-margin-outer-b));
}

.formkit-options{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}

.cart{
  z-index: 1000;
}

#app{
  display: block !important;
}